<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="main.js"></script>
  <title></title>
</head>
<body>
  <header>
    <form method="POST" action="{{url_for('add_friend')}}">
      <button type="submit">友達追加</button>
    </form>
    <form method="POST" action="{{url_for('logout')}}">
      <button type="submit">ログアウト</button>
    </form>
  </header>
  <h1>room</h1>
  <h2>ルーム一覧</h2>
  <div id="rooms-area" style="border: double 1px">
    {% for room in rooms %}
    <div class="my-rooms" style="border: double 1px">
      <p>{{ room.friend_name }}</p>
      <p>{{ room.latest_message }}</p>
      <p>{{ room.latest_time }}</p>
      <form method="GET" action="{{ url_for('messages_view', room_id=room.room_id) }}">
        <input type="submit" value="open">
      </form>
      <form method="POST" action="{{ url_for('delete_room', room_id=room.room_id) }}">
        <input type="submit" value="delete">
      </form>
    </div>
    {% endfor %}
  </div>
  <form method="POST" action="{{ url_for('home_view') }}">
    {{ form.hidden_tag() }}
    <p>
      {{ form.search_friend.label }}<br>
      {{ form.search_friend(size=32) }}<br>
      {% for error in form.search_friend.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <form method="POST" action="{{ url_for('home') }}">
      <p>{{ form.submit() }}</p>
    </form>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </form>
</body>
</html>
