<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset="utf=8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/invite_sender.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <title>QRcode</title>
</head>
<body>
  <div class="container">
    <div class="head-container">
      <a href="{{ url_for('home_view') }}"><img src="{{ '/static/img/icon-return_home.png' }}" alt="戻る"></a>
      <p>招待QRコード</p>
    </div>
    <div class="main-container">
      <img src="{{ url_for('invite_qrcode', room_id=room_id) }}" alt="QRコード">
    </div>
    <p class="hidden"><a id="myLink" href="{{ invite_url }}">このリンクをコピーする</a></p>

    <button id="copyButton">このリンクをコピー</button>
  </div>
  <script src="{{ url_for('static', filename='js/copy_invite_url.js') }}"></script>
</body>
</html>
