<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="main.js"></script>
  <title>メッセージ</title>
</head>
<body>
  <div id="message-area">
    {% for message in messages %}
    <div class="my-messages">
      <p>{{ message.user_name }}</p>
      <p>{{ message.message }}</p>
      <p>{{ message.updated_at }}</p>
    </div>
    {% endfor %}
  </div>
  <form method="POST" action="{{ url_for('add_message', room_id=room_id) }}">
    {{ form.hidden_tag() }}
    <p>
      {{ form.message.label }}<br>
      {{ form.message(size=32) }}<br>
      {% for error in form.message.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    </p>
    <p>{{ form.submit() }}</p>
  </form>
  <a href="{{ url_for('home_view') }}">戻る</a>
</body>
</html>
