{% extends "base.html" %}
{% block title %}ログイン - Nope App{% endblock %}
{% block content %}
<form action="{{ url_for('login') }}" method="POST" novalidate>
  {{ form.hidden_tag() }}
  <div>
    <p>
      {{ form.email.label }}
    </p>
    <div>
      {{ form.email(size=32) }}
    </div>
    {% for error in form.email.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>

  {% for error in form.email.errors %}
  <span style="color: red;">[{{ error }}]</span>
  {% endfor %}

  <div>
    {{ form.password.label }}<br>
    {{ form.password.(size=32) }}<br>
    {% for error in form.password.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>

  <div>
    {{ form.submit() }}
  </div>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <li>
      {{ message}}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <!-- 
  <label for="email">Email</label>
  <input type="email" id="email" name="email" placeholder="Email" required value="{{ form.email.data or '' }}"
    oninvalid="this.setCustomValidity('メールアドレスを入力してください')" oninput="this.setCustomValidity('')">
  <label for="password">Password</label>
  <input type="password" id="password" name="password" placeholder="Password" required
    oninvalid="this.setCustomValidity('パスワードを入力してください')" oninput="this.setCustomValidity('')">
  <button type="submit">➡️ ログイン</button> -->
</form>
<!-- {% if error %}
<div class="error-message" aria-live="polite">
  {{ error }}
</div>
{% endif %} -->
<a href="{{ url_for('signup') }}">新規登録</a>
{% endblock %}