{% extends "auth/base.html" %}
{% block title %}サインアップ - Nope App{% endblock %}
{% block content %}
<!-- <div class="signup-container"> -->
<form action="{{ url_for('signup') }}" method="POST" class="main-container" id="signup">
    {{ form.hidden_tag() }}
    <div class="wrapper-contents">
        <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="サービス”NOPE”ロゴ">
        <div class="container-form-signup">
            <div class="wrapper-field">
                <p class="label_primary-input-field">
                    {{ form.username.label }}
                </p>
                {{ form.username(class="input-field", size=32) }}
                {% for error in form.username.errors %}
                <p class="error">
                    [{{ error }}]
                </p>
                {% endfor %}
            </div>
            <div class="wrapper-field">
                <p class="label_primary-input-field">
                    {{ form.email.label }}
                </p>
                {{ form.email(class="input-field", size=32) }}
                {% for error in form.email.errors %}
                <p class="error">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <div class="wrapper-field">
                <p class="label_primary-input-field">
                    {{ form.password.label }}
                </p>
                {{ form.password(class="input-field", size=32) }}
                {% for error in form.password.errors %}
                <p class="error">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <div class="wrapper-field">
                <p class="label_primary-input-field">
                    {{ form.confirm.label }}
                </p>
                {{ form.confirm(class="input-field", size=32) }}
                {% for error in form.confirm.errors %}
                <p class="error">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
        </div>
        <div class="wrapper-signup">
            <button type="submit" class="button-signup">
                <img src="../../static/img/icon-file-signature.png" alt="新規登録アイコン" class="icon">サインアップ
            </button>
            {# {{ form.submit }} #}
            <a href="{{ url_for('login') }}">戻る</a>
        </div>

    </div>

    {# <label for="account_name">Account Name</label>
    <input type="text" id="account_name" name="account_name" placeholder="Account Name" required
        value="{{ form.account_name.data or '' }}" oninvalid="this.setCustomValidity('アカウント名を入力してください')"
        oninput="this.setCustomValidity('')">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Email" required value="{{ form.email.data or '' }}"
        oninvalid="this.setCustomValidity('メールアドレスを入力してください')" oninput="this.setCustomValidity('')">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Password" required
        oninvalid="this.setCustomValidity('パスワードを入力してください')" oninput="this.setCustomValidity('')">
    <label for="password_confirm">Password (確認)</label>
    <input type="password" id="password_confirm" name="password_confirm" placeholder="Password (確認)" required
        oninvalid="this.setCustomValidity('確認用パスワードを入力してください')" oninput="this.setCustomValidity('')">
    <button type="submit">📝 サインアップ</button> #}
</form>

<!-- {% if error %}
    <div class="error-message" aria-live="polite">
        {{ error }}
    </div>
    {% endif %} -->
{% endblock %}