* {
  padding: 0;
  margin: 0;
  background: #121212;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper-contents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.icon {
  background-color: #21d92a;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #f0f0f0;
}

/* login.htmlのcss */

#login.main-container {
  padding: 77px 32px;
}

.container-form-login {
  padding: 24px 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border: 1px solid;
  border-color: #21d92a;
  border-radius: 10px;
}

#id.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.wrapper-field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label_primary-input-field {
  color: #f0f0f0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.input-field {
  width: 100%;
  height: 48px;
  border-radius: 12px;
  background-color: #fafafa;
}

.input-field::placeholder {
  padding: 8px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.button-login {
  padding: 5px 8px;
  width: fit-content;
  height: 48px;
  background-color: #21d92a;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-login img {
  margin-right: 8px;
}

.nav-signup {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label_secondary {
  color: #f0f0f0;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.nav_button-signup {
  width: 100%;
  height: 48px;
  background-color: #21d92a;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_button-signup img {
  margin-right: 8px;
}

/* signup.htmlのcss */

#signup.main-container {
  padding: 32px 52px;
}

.container-form-signup {
  padding: 0px 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.error {
  color: red;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400px;
}

.wrapper-signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-signup {
  width: 100%;
  height: 48px;
  background-color: #21d92a;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-signup img {
  margin-right: 8px;
}

.wrapper-signup a {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #f0f0f0;
}
