* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  caret-color: #007AFF;
}

body {
  /*------------font--------------*/
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  /*------------------------------*/
  background-color: #121212;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  width: 91vw;
  margin-top: 4px;
  background: #121212;
  overflow: hidden;
}

.rooms-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  background: #121212;
  justify-content: space-between;
  border-bottom: 1px solid #21D92A;
  color: #21D92A;
}

.hamburger-img {
  width: 25px;
  height: 25px;
  overflow: hidden;
}

.nav-left {
  padding: 0 10px;
}

.nav-left p {
  font-size: 19px;
  color: #F0F0F0;
}

.nav-right {
  padding: 0 10px;
}

.rooms-area {
  margin-top: 1vh;
  flex: 1;
  height: 100%;
  overflow-y: auto;
  background: #121212;
}

.room-area {
  position: relative;
  overflow: hidden;
}

#go-message-view-btn {
  z-index: 200;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  background: #121212;
  border: none;
  width: 100%;
  gap: 4px;
}

#go-message-view-btn:active {
  background: #3D3D3D;
}

#go-message-view-btn.active {
  z-index: 100;
  right: 59px;
}

.room-area-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.room-name {
  color: #21D92A;
  display: flex;
}

.room-message {
  color: #F0F0F0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.room-time {
  color: #FF8A90;
  display: flex;
}

#room-delete-btn {
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 55px;
  color: #F0F0F0;
  background: #FF8A90;
  border: none;
  margin: 1px;
}

#room-delete-btn:active {
  opacity: 0.8;
}

.search-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  margin-bottom: 4vh;
  background: #121212;
  border-top: 1px solid black;
  opacity: 1;
  pointer-events: auto;
}

.search-container form {
  width: 91vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-field {
  flex: 1;
  border: none;
  border-radius: 10px;
  padding: 8px;
  height: 29px;
  background: #3D3D3D;
  outline: none;
  color: #21D92A;
}

.search-btn {
  height: 29px;
  width: 29px;
  border-radius: 50%;
  background: #121212;
  border: None;
  margin-left: 8px;
  display: flex;
}
